@font-face {
    font-family: ultra;
    src: url(font/Ultra-Regular.ttf);
}
@font-face {
    font-family: sans;
    src: url(font/DMSans-Regular.ttf);
}
@font-face {
    font-family: osi;
    src: url(font/Oswald-VariableFont_wght.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
.ultra{
    font-family: ultra;
    font-weight: 400;
}
.sans{
    font-family: sans;
}
.osi{
    font-family: osi;
}
.first-section{
    width: 100%;
height: auto;
margin: 0;
padding: 0;
background: #171B1B;
}
.logo{
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin-left: 135px;
    margin-top: 10px;
}
.flex-container1{
    display: flex;
    flex-direction: row;
    color: #FFF;
    font-size: 16px;
    gap: 73px;
}
.flex-container1 a{
    text-decoration: none;
    margin-top: 26px;
    color: #FFF;
}
.flex-container1 button{
    width: 138px;
    height: 48px;
    margin-top: 16px;
    background: #171B1B;
    color: #FFF;
    margin-left: 885px;
}
.for-side-text{
    margin-top: 191px;
    margin-left: 135px;
    color: #FFF;
}
.year{
    font-size: 16px;
}
.biggie{
    font-size: 72px;
    margin-top: 21px;
}
.third-p{
    font-size: 20px;
    margin-top: -57px;
}

.for-side-text img{
    margin-top: 145px;
    margin-left: 50%;
}
.second{
    width: 100%;
    height: auto;
    background-color: #F5D3AB;
    z-index: inherit;
}
.for-text{
    position: absolute;
    margin-left: 935px;
    top: 1005px;
}
.about{
    font-size: 16px;
}
.moments{
    font-size: 56px;
    margin-top: 16px;
}
.arrow-flex{
    display: flex;
    flex-direction: column;
    width: 48px;
height: 48px;
gap: 10px;
}
.view{
    margin-left: 102px;
    margin-top: -53px;
}
.after-view{
    color: rgba(51, 51, 51, 0.50);
    font-size: 16px;
    margin-left: 102px;
    line-height: 32px;
}
.flex-a{
    margin-top: 35px;
}
.flex-a a{
    display: flex;
    flex-direction: column;
    line-height: 32px;
    text-decoration: none;
    font-size: 16px;
    color: #171B1B;
    margin-left: 102px;
    margin-top: 16px;
}
.our-features{
    text-align: center;
    margin-top: 222px;
    letter-spacing: 3px;
    font-size: 16px;
}
.love{
    text-align: center;
    margin-top: 18px;
    font-size: 56px;
}
.flex-containers3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.three-divs{
    width: 400px;
    height: 384px;
    flex-shrink: 0;
    background-color: #FFF;
}
.three-divs img{
    margin-top: 56px;
    margin-left: 64px;
}
.heading{
    margin-left: 64px;
    font-size: 40px;
}
.divs-p{
    margin-left: 64px;
    color: rgba(51, 51, 51, 0.50);
    font-size: 16px;
}
.three-divs:hover{
    margin-top: -18px;
    margin-bottom: -18px;
    width: 410px;
    height: 420px;
    background-color: #9EAD8D;
    transition-duration: 0.7s;
    
}
.for-vid{
    background: #171B1B;
    height: 488px;
    margin-top: 192px;
}
.vids-text{
    padding-top: 138px;    
    margin-left: 1130px;
    color: #FFF;
}
.our-vid{
    text-transform: uppercase;
    font-size: 16px;
}
.vids-heading{
    font-size: 56px;
    margin-top: 18px;
}
.for-price{
    margin-top: 105px;
    margin-left: 315px;
}
.for-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.headingp{
    font-size: 16px;
    line-height: 32px; 
    letter-spacing: 3px;
    text-transform: uppercase;
}
.for-price h3{
    font-size: 56px;
    line-height: 64px;
    margin-top: 18px;
    font-weight: 400;
}
.first-article{
    position: relative;
}
.first-article img{
    position: relative;
    width: 789px;
    height: 448px;
    object-fit: cover;
}
.first-article-text{
    position: absolute;
    margin-top: -273px;
    margin-left: 46px;
}
.firstp{
    margin-top: 185px;
    font-size: 16px;
    color: white ;
}
.first-article-text h3{
    font-size: 40px;
    margin-top: -18px;
    color: #FFF;
    font-weight: 400;
}
.secondp{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    line-height: 32px;
    margin-top: -28px;
}
.price{
    position: absolute;
    margin-top: -80px;
    margin-left: 638px;
    font-size: 40px;
    color: #FFF;
}
.second-article{
    width: 370px;
    height: 448px;
    background-color: white;
}
.second-article img{
    width: 370px;
    height: 304px;
    object-fit: cover;
}
.second-p-2{
    color: #171B1B;
    font-family: Osi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 25px;
}
.second-p-3{
    color: #171B1B;
font-family: Osi;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
margin-left: 35px;
display: inline;
}
.second-p-price{
    color: #171B1B;
font-size: 40px;
font-weight: 400;
line-height: 48px; 
display: inline;
margin-left: 200px;
}
.for-price button{
    width: 170px;
height: 48px;
flex-shrink: 0;
color: #171B1B;
text-align: center;
font-family: Osi;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-left: 530px;
margin-top: 65px;
margin-bottom: 112px;
background-color: #F5D3AB;
border-radius: 2px;
border: 1px solid rgba(23, 27, 27, 0.24);
}





















