@font-face {
    font-family: ultra;
    src: url(font/Ultra-Regular.ttf);
}
@font-face {
    font-family: sans;
    src: url(font/DMSans-Regular.ttf);
}
@font-face {
    font-family: osi;
    src: url(font/Oswald-VariableFont_wght.ttf);
}
.ultra{
    font-family: ultra;
}
.sans{
    font-family: sans;
}
.osi{
    font-family: osi;
}
.first-section{
    width: 100%;
height: auto;
margin: 0;
padding: 0;
background: #171B1B;
}
.logo{
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin-left: 135px;
    margin-top: 10px;
}
.flex-container1{
    display: flex;
    flex-direction: row;
    color: #FFF;
    font-size: 16px;
    gap: 73px;
}
.flex-container1 a{
    text-decoration: none;
    margin-top: 26px;
    color: #FFF;
}
.flex-container1 button{
    width: 138px;
    height: 48px;
    margin-top: 16px;
    background: #171B1B;
    color: #FFF;
    margin-left: 885px;
}
.for-side-text{
    margin-top: 191px;
    margin-left: 135px;
    color: #FFF;
}
.year{
    font-size: 16px;
}
.biggie{
    font-size: 72px;
    margin-top: 21px;
}
.third-p{
    font-size: 20px;
    margin-top: -57px;
}
.svg1{
    position: absolute;
    left: 997px;
}
.svg2{
    position: absolute;
    top: 323px;
    left: 1850px;
}
.for-side-text img{
    margin-top: 145px;
    margin-left: 50%;
}
.svg3{
    position: absolute;
    top: 760px;
    left: 935px;
}
.svg4{
    position: absolute;
    top: 165px;
}
.svg5{
    position: absolute;
    top: 169px;
    left: 1290px;
}
.svg6 {
    position: absolute;
    top: 285px;
    left: 1017px;
}
.svg7{
    position: absolute;
    top: 60px;
    left: 1079px;
}
.svg8{
    position: absolute;
    top: 288px;
    left: 1180px;
}
.man{
    position: absolute;
    top: 90px;
    left: 280px;
}